.parameter-bottom-bar {
    border-top: 2px solid #ccc;
    padding-bottom:1rem;
}


div.margin {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
}


html[data-theme=light] {
    --sbt-color-announcement: var(--bs-border-color-translucent) !important;
    --pst-color-secondary-bg: var(--bs-border-color-translucent) !important;
}
html[data-theme=dark] {
    --sbt-color-announcement: var(--bs-border-color-translucent) !important;
    --pst-color-secondary-bg:var(--bs-border-color-translucent) !important;
}
.bd-header-announcement {
    background-color: var(--bs-border-color-translucent) !important;
}


#bd-header-version-warning a, .bd-header-announcement a {

    color: var(--bs-danger);
    font-size: x-large;
}

.bd-header-announcement__content {
    padding: 10px 0 !important;
    text-align: center !important;
}

.custom-announcement {
    font-size: 1.2em !important;
    font-weight: bold !important;
    color: #333 !important; /* Darker text for contrast */
}

.custom-announcement a {
    color: #ff0000 !important; /* Red color for the link */
    text-decoration: none !important;
}

.custom-announcement a:hover {
    text-decoration: underline !important;
}


.bd-header-announcement {
  background-color:  var(--bs-border-color-translucent) !important;
  color: #fff;
}

.bd-header-announcement p {
    font-weight: 600;
}
