.parameter-bottom-bar {
    border-top: 2px solid #ccc;
    padding-bottom:1rem;
}


div.margin {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
}

html[data-theme="light"] {
    --sbt-color-announcement: #ff8623d4; /* Orange color for the announcement banner */
    --announcement-link-color: #ff0000; /* Red color for the links in the announcement */
}


.custom-announcement {
    width: 100%;
    background-color: #ff8623d4; /* Light gray background */
    text-align: center;
    padding: 10px 0;
    font-size: 1.1em;
    font-weight: bold;
    color: #333; /* Darker text for contrast */
    background-color: #ff8623d4;
}

.custom-announcement a {
    
    background-color: #ff8623d4;
    text-align: center;
    padding: 5px 0;
    font-size: 1.1em;
    font-weight: bold;
    color: #001dffd6; 
    
}

.custom-announcement a:hover {
    text-decoration: underline;
}
